@font-face {
    font-family: "tektur";
    src: url(./Content/headFont.ttf);
}

@font-face {
    font-family: "pangolin";
    src: url(./Content/pangolin.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.projectHead{
    grid-area: 1/1/2/2;
    font-family: "tektur" , cursive;
    font-size: 3rem;
}

.taskHead{
    font-family: "tektur" , cursive;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: fit-content(30%) auto auto auto;
    justify-items: center;
    gap: 10px;
}

.projectbar{
    grid-area: 2/1/3/2;
    border-right: 1px ridge rgba(0, 0, 0, 0.6);
    width: 100%;
    display: grid;
    grid-template-rows: fit-content(60px) fit-content(300px);
    justify-items: center;
    grid-auto-flow: dense;
    border-top: 1px solid black;
    padding-top: 10px;
}

.addProject,.submit,.submitTask{
    height: 45px;
    width: 100px;
    border-radius: 13px;
    background-color: #7fffd4;
    border: 2px ridge #C8C8C8;
    font-size: 1.4rem;
    transition: 0.2s all linear;
}

.addProject:hover,.submit:hover,.submitTask:hover{
    background-color: #5FBE9E;
}

.addProject:active,.submit:active,.submitTask:active{
    background-color: #509F85;
}

.projectContainer{

    margin-top: 15px;
    width: 100%;
    max-height: 55px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    overflow-x: scroll;
}

.projectContainer::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.projectContainer::-webkit-scrollbar{
    height: 6px;
	background-color: #F5F5F5;
}

.projectContainer::-webkit-scrollbar-thumb{
    background-color: #000000;
}

.projectDIV,.taskDIV{
    display: flex;
    flex-direction: row;
    min-width: 321px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    gap: 15px;
    transition: 0.2s all linear;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
}

.projectDIV:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.taskDIV{
    background-color: rgba(238, 209, 44, 0.377);
    gap: 0;
}

.taskDIV:hover{
    background-color: rgba(238, 209, 44, 0.477);
}

.delProject,.delTask{
    font-family: 'pangolin';
    border-radius: 8px;
    transition: 0.2s all linear;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: red;
}
.delProject:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.delTask:hover{
    background-color: rgba(175, 159, 68, 0.477)
}

.formBG{
    top: 0;
    left: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: white;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

textarea{
    resize: none;
}

input[type="text"]{
    height: 35px;
    width: 95%;
    border-radius: 15px;
    border: 2px ridge cornflowerblue;
    padding: 5px;
    font-size: 1.3rem;
}

.formArea{
    display: flex;
    height: 250px;
    flex-direction: column;
    place-items: center;
    gap: 5px;
    z-index: 2;
}

label{
    text-align: center;
    width: 100%;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.submit,.submitTask{
    height: 25px;
    width: 90px;
    font-size: 1.1rem;
    z-index: 2;
}

.taskArea{
    display: grid;
    grid-template-rows: 50px auto;
    place-items: flex-start;
    width: 100%;
    height: 100%;
}

.taskContainer{
    height: 100%;
    width: 100%;
}

.addTask{
    padding: 5px;
    font-size: medium;
}


input[type='date']{
    padding: 5px;
    border-radius: 7px;
    outline: none !important;
    border: 2px ridge rgba(0, 0, 0, 0.4);
}

.dateCont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-end;
    border-right: 1px solid black;
    padding-right: 5px;
}

.dateText{
    font-family: Arial, Helvetica, sans-serif;
}

.dataCont{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
