@font-face {
    font-family: "tektur";
    src: url(./Content/headFont.ttf);
}

@font-face {
    font-family: "pangolin";
    src: url(./Content/pangolin.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.sideHead{
    grid-area: 1/1/2/2;
    font-family: "tektur" , cursive;
    font-size: 3rem;
}

.sidebar{
    grid-area: 2/1/3/2;
    border-right: 1px ridge rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    padding-top: 20px;
    display: grid;
    grid-template-rows: 75px auto;
    place-items: center;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 150px auto;
    place-items: center;
}

.addProject{
    height: 45px;
    width: 100px;
    border-radius: 13px;
    background-color: #7fffd4;
    border: 2px ridge #C8C8C8;
    font-size: 1.4rem;
    transition: 0.2s all linear;
}

.addProject:hover{
    background-color: #5FBE9E;
}

.addProject:active{
    background-color: #509F85;
}

.projectContainer{
    width: 100%;
    height: 100%;
}
